.navbar{
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #47D17E !important;
}

#navbarNav{
    flex-basis: unset;
    flex-grow: 0;
}

.navbar-light .navbar-brand {
    color:#00000073;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler:focus ,.navbar-light .navbar-toggler:active{
    border: none;
    box-shadow: none;
}

.navbar-light .navbar-toggler:hover{
    background-color: aliceblue;
    border-radius: 5px;
}

.navbar-nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-item:active a{
    color: orange;
    font-weight: bold;
}