

<div id="sign-up">
    <div class="left-side">
        <p>Welcome to EasyDINE</p>
        <div class="singup-form">
            <h1>Create an Account</h1>
            <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without</p>
            <div class="input-fields">
                <div class="field">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <input type="text" placeholder="Name">
                </div>
                <div class="field">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input type="email" placeholder="Email Address">
                </div>
                <div class="field">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Password">
                </div>
                <div class="field">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Confirm Password">
                </div>
            </div>
            <div class="signup-btn">
                <a href="">Sign Up</a>
            </div>
            <div class="bottom-text">
                <p>Have an account? &nbsp;</p>
                <a routerLink="/auth/login">Login</a>
            </div>
        </div>
    </div>
    <div class="right-side">
        <img src="assets/img/signup-img.jpg" alt="Food image">
    </div>
</div>



